<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="index.html">
                <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="meme.html">
                    Meme Creator
                </a>
                <a class="navbar-item" href="trivia.html">
                    Ibom Trivia
                </a>
                <a class="navbar-item" href="gallery.html">
                    Sights &amp; Sounds
                </a>
                <a class="navbar-item">
                    The Udom Legacy
                </a>
                <span class="navbar-item">
                    <a class="button is-outlined is-white is-rounded">
                        <span class="icon">
                            <i class="fa fa-share-alt"></i>
                        </span>
                        <span>Share with friends</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>